.cadastro-quizz {
    padding-top: 100px;
    box-sizing: border-box;
}

.cadastro-quizz > div {
    margin-top: 20px;
}

.informacoes-iniciais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-quizz h3 {
    font-size: 23px;
    font-weight: bold;
}

.informacoes-iniciais {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-top: 40px;
    padding: 20px;
    background-color: #FFFFFE;
}

.cadastro-quizz input {
    width: 90%;
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #D1D1D1;
    font-size: 19px;
}

.cadastro-quizz button {
    margin-top: 60px;
    padding: 16px 30px;
    border: none;
    font-size: 21px;
    border-radius: 15px;
    background-color: #EC362D;
    color: #FFFFFE;
}

.cadastro-inicial,
.cadastro-perguntas,
.cadastro-niveis,
.cadastro-sucesso {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.topo-pergunta,
.topo-nivel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.cadastro-quizz h4 {
    align-self: flex-start;
    font-size: 20px;
    font-weight: bold;
    margin: 28px 0 20px 0;
}

.cadastro-pergunta,
.cadastro-nivel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    background-color: #FFFFFE;
}

.perguntas-respostas,
.nivel {
    display: none;
    width: 100%;
}

.resposta-incorreta {
    width: 100%;
    margin-top: 20px;
}

.selecionada > .perguntas-respostas,
.selecionada > .niveis {
    display: flex;
    flex-direction: column;
}

.perguntas-respostas img,
.nivel img {
    opacity: 1;
    margin: 28px 0 20px 0;
}

.selecionada img {
    opacity: 0;
}

.quizz-imagem {
    margin-top: 50px;
    background-image: url("https://tm.ibxk.com.br/2022/01/06/06090650586027.jpg?ims=1120x420");
    width: 500px;
    height: 270px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filtro-escuro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    opacity: 1;
}

.filtro-escuro > h4 {
    margin: 24px;
}

.cadastro-sucesso button:last-child {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: #818181;
}

@media screen and (max-width: 1100px) {
    .cadastro-quizz,
    .informacoes-iniciais,
    .cadastro-niveis,
    .cadastro-perguntas,
    .cadastro-sucesso {
        width: 100%;
    }
    
    .cadastro-quizz button {
        width: 80%;
        font-size: 18px;
    }

    .cadastro-pergunta,
    .cadastro-nivel,
    .quizz-imagem{
        width: 90%;
        height: 180px;
    }
}