.resposta > img{
    height: 175px;
    width: 330px;
    object-fit: cover;
}

.conteudo-pag2{
    width: 100%;
    margin-top: 67px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.bannerPrincipal{
    height: 227px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5) , rgb(0, 0, 0, 0.5)  ),url('https://img.elo7.com.br/product/zoom/1F151A7/cubo-magico-minicraft.jpg') ;
    background-size:contain;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 39px;
}
.post{
    height: 750px;
    width: 800px;
    margin-top: 42px;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0,0.25);
    padding: 28px 37px;
    margin-bottom: 50px;
    box-sizing: border-box;
    
}
.post-final{
    height: 450px;
    width: 800px;
    margin-top: 42px;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0,0.25);
    padding: 28px 37px;
    margin-bottom: 50px;
    box-sizing: border-box;
    
}
.qtAcertos{
    background-color: #EC362D;
    height: 99px;
    width: 727px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    color:#fff
}

.mensagem{
    display: flex;
    font-size: 19px;
    font-weight: bold;
    color:#484848
}

.mensagem img{
    height: 270px;
    width: 360px;
    margin-right: 30px;
    object-fit: cover;
}

.post > .pergunta{
    background-color: purple;
    height: 138px;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-bottom: 21px; 
    word-break: break-all;
}

.alternativas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resposta p{
    font-size:20px;
    font-weight: 700;
    margin: 30px 0px
    
}

.btnReiniciar{
    height: 52px;
    width: 260px;
    background-color: #EC362D;
    color: #fff;
    font-size: 21px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btnReiniciar:hover, .voltarHome:hover{
    opacity: 60%;
    cursor: pointer;
}

.voltarHome{
    color:#484848;
    font-size: 21px;

}

.certo{
    color:green;
}

.errado{
    color: red;
}

.deselecionado{
    opacity: 30%;
}

@media screen and (max-width: 1100px){
    
    .resposta > img{
        height: 113px;
        width: 163px;
    }

    .bannerPrincipal{
        height: 192px;
        font-size: 19px;
    }

    .post > .pergunta,
    .qtAcertos{
        height: 89px;
        width: 340px;
        font-size: 19px;
        text-align: center;
    }

    .post,
    .post-final{
        width: 375px;
        height: 436px;
        padding: 18px 17px;
    }

    .resposta p{
        font-size: 13px;
        margin: 10px 0px

    }

    .post-final{
        height: auto;
    }

    .mensagem{
        display: block;
    }

    .mensagem img{
        height: 255px;
        width: 340px;
    }

}
